# Airbender VM Configuration

# Airbender has a layered proving architecture:
# - Base layer: proves correct execution of the base program.
# - Recursion layers: each layer proves the verifier program that verifies the
#   *entire* previous layer.
#
# Airbender supports multiple circuit types, and each circuit type defines its
# own instruction set. For a given layer, all proofs share a common state and
# memory argument.
#
# The set of circuit types may differ across layers:
# - Recursion layers do not need to support the full instruction set.
# - Higher layers typically prioritize fewer circuit types to reduce complexity.
#
# In this configuration we use "worst-case" parameters across all circuit types.
#
# Note: Additional outer layers (using other proving systems) wrap the final
# Airbender layer into a SNARK suitable for L1 verification.


[zkevm]
name = "Airbender"
protocol_family = "FRI_STARK"
field = "M31^4"
hash_size_bits = 256

[[circuits]]
name = "generalized_circuit"
# blowup_factor = 2
rho = 0.5
trace_length = 16777216 # 1 << 24

air_max_degree = 2
# For product accumulators used in memory argument
max_combo = 2

# Number of columns included into composition can be computed as NUM_WITNESS_OPENINGS + NUM_MEMORY_OPENINGS + NUM_SETUP_OPENINGS + NUM_STAGE2_OPENINGS
# https://github.com/matter-labs/zksync-airbender/blob/dev/verifier/src/concrete/size_constants.rs#L168-L171
num_columns = 1224

# Batch size can be computed as NUM_OPENINGS_AT_Z
# https://github.com/matter-labs/zksync-airbender/blob/dev/verifier/src/concrete/size_constants.rs#L178
batch_size = 1225

# We have two openings: at random point (z) and at the next one (z*omega)
opening_points = 2
power_batching = true

# We compute number of queries form grinding bits: https://github.com/matter-labs/zksync-airbender/blob/dev/verifier_common/src/lib.rs#L21
num_queries = 87

# Folding parameters for different trace_length: https://github.com/matter-labs/zksync-airbender/blob/dev/prover/src/definitions/optimal_folding.rs
fri_folding_factors = [16, 16, 16, 8, 8]
fri_early_stop_degree = 128

# We use 28 bits as default: https://github.com/matter-labs/zksync-airbender/blob/dev/verifier_common/src/lib.rs#L14
grinding_query_phase = 28
